#boardTime {
    list-style: none;
}

#boardName {
    list-style: none;
}

li {
    width: 8em;
    border-top: 2px solid #17A2B8;
    border-left: 2px solid #17A2B8;
    border-right: 2px solid #17A2B8;
}

.title {
    background-color: #17A2B8;
    color: white;
}

li:last-child {
    border-bottom: 2px solid #17A2B8;
}

.board {
    display: flex;
    justify-content: center;
}

.title-time {
    margin-right: 40px; 
}

.timer {
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 10px;
}

.btnDeleteShow {
    margin-top: 10px;
    margin-bottom: 30px;
}

.btnStartReset {
    margin-bottom: 10px;
}